<h2>Friend of Mine</h2>
<div class="friend-links">
  <ul>
  {% for link in links %}
    <li {% if links[3] %}bgsrc="{{ link[3] }}"{% endif %}>
      <a href="{{ link[0] }}" target="_blank" class="link">
        <img width="32" height="32" src="https://plausible.io/favicon/sources/{{ link[0].split("//")[1] }}" />
        <p>{{ link[1] }}</p>
        {% if links[2] %}<span>{{ link[2] }}</span>{% endif %}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
