<h2>Friends of Mine</h2>
<div class="friend-links">
  <ul>
  {% for link in links %}
    {% set descr = link[2] %}
    {% set bg = link[3] %}
    <li {% if bg %}style="background-image:url({{ bg }})"{% endif %}>
      <a href="{{ link[0] }}" target="_blank" class="link">
        <div>
          <img width="48" height="48" src="https://icon.ssh.town/{{ link[0].split("//")[1] }}" />
          <p>{{ link[1] }}</p>
          {% if descr %}<span>{{ descr }}</span>{% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
