.friend-links {
  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
    list-style: none;
    padding: 0;
  }
  & li {
    border-radius: .6em;
  }
  & a {
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
  }
}
