.friend-links {
  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
    gap: 1em;
    list-style: none;
    padding: 0;
  }
  & li {
    border-radius: .6em;
    background-size: cover;
    background-position: center;
  }
  & a {
    color: #fff;
    padding: 1em;
    text-decoration: none;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 6px rgb(0 0 0 / .04);
    & div {
      display: grid;
      grid-template-columns: 4em auto;
      align-items: center;
    }
  }
  & img {
    margin: auto;
  }
  & p {
    font-size: 1.2em;
    margin: 0;
  }
  & span {
    grid-column: span 2;
    padding: 0 1em;
  }
}
