header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  border-bottom: solid 1px var(--solitude);
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 96%;
  max-width: 1080px;
  height: 3em;
  margin: 0 auto;
  column-gap: 2rem;
  row-gap: 1rem;
  & a {
    display: block;
    padding: calc(1em * var(--pagefind-ui-scale));
    &:hover {
      text-decoration-color: var(--eerie-black);
      text-underline-offset: 1em;
    }
    &:not(:hover) {
      text-decoration: none;
    }
  }
}
.navbar-home {
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}
.navbar-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;

  & [aria-current="page"] {
    /* font-weight: bold; */
    /* text-decoration: underline; */
    background-color: var(--alice-blue);
    &:hover {
      text-decoration: none;
    }
  }
}
.navbar-search {
  flex-grow: 1;
  max-width: 360px;
  margin-left: auto;
}
#search {
  & .pagefind-ui__form:before {
    top: calc(1em * var(--pagefind-ui-scale));
  }
  & .pagefind-ui__search-input {
    height: calc(3em * var(--pagefind-ui-scale));
  }
  & .pagefind-ui__drawer {
    margin-top: 2px;
    position: absolute;
    background: var(--white);
    padding: 0 2rem 1rem;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    width: 100%;
    box-sizing: border-box;
    & a {
      padding: 0;
      &:hover {
        text-underline-offset: initial;
      }
    }
  }
  & .pagefind-ui__message {
    margin: 0;
    padding: 0;
  }
  & .pagefind-ui__result-link {
    color: var(--blue);
  }
  & .pagefind-ui__result-excerpt {
    color: var(--darkgray);
  }
}

@media (max-width: 40em) {
  .navbar {
    flex-wrap: nowrap;
    & .navbar-search {
      flex-wrap: nowrap;
      margin: 0 auto;
      overflow-x: auto;
      & li {
        white-space: nowrap;
      }
    }
  }
}
